*{
    margin: 0px;
    padding: 0px;
}
div#cont{
    background-color: darkred;
    height: 100px;
    width: 100%;
    margin: auto;
    padding: auto;
    display: inline-flex;
}
img#imagen1{
    height: 90px;
    width: 300px;
    margin-left: 50px;
}
img#qro{
    height: 100px;
    width: 100px;
    margin-left: 60%;
}
.est{
    text-align: center;
    display: inline-flex;
    margin-left: -800px;
    color: #ffff;
}
.inser2{
    width: 200px;
    padding: 6px 1px;
    border-radius: 10px;
}
.tit{
    margin: 10px;
    font-family: sans-serif;
}
input[type="submit"] {
    margin-right: 10px;
}

.tabla {
    margin-bottom: 20px;
}
form {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 10px #eee;
}
label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
}
.form-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.form-section {
    width: 60%;
    padding: 30px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 10px #eee;
}
